<div class="container">

<h1>Events</h1>
<br />

<div class="table-responsive">
<table class="table table-dark">
  <thead>
    <tr>
      <th>Admin</th>
      <th>Start date</th>
      <th>Duration</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.admin.email %></td>
        <td><%= event.start_date %></td>
        <td><%= event.duration.to_s + ' min' %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.price.to_s + ' €' %></td>
        <td><%= event.location %></td>
        <td><%= button_to 'Show', event, method: :get %></td>
        <!-- <td><%= button_to 'Edit', edit_event_path(event.id), method: :get %></td>
   -->
        <% if (user_signed_in? && (event.admin == current_user)) -%>
        <td><%= button_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br />

</div>
