<div class="container">
  <!-- Content here -->

<br>

<p id="notice"><%= notice %></p>


<p>
  <strong>Admin:</strong>
  <%= @event.admin.email %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration.to_s + ' min' %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @event.price.to_s + ' €' %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%if user_signed_in? -%>
  <%if current_user == @event.admin -%> 
  <%= button_to 'Edit', edit_event_path(@event), method: :get %> 
  <% end -%>


<%unless @event.attendees.include?(current_user) -%>
    <%= button_to 'Attend', new_event_attendance_path(@event.id), method: :get %> 
<% end -%>
<% end -%>
  <%= button_to 'Back', events_path, method: :get %>

<p>
  <br>
  <% if @event.attendees.size > 0 -%>
  <strong>Attendees:</strong>
  <% @event.attendances -%>
  <%= render partial: "attendances/index", locals: {attendances: @event.attendances} %>
  <%else -%>
  <strong>No attendee for this event yet.</strong>
  <% end -%>
  <br>
</p>



</div>
