<div class="container">

<p id="notice"><%= notice %></p>

<h1>Attendances</h1>
<div class="table-responsive">
<table class="table table-dark">
  <thead>
    <tr>
      <th>Event</th>
      <th>User</th>
      <th>Stripe customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.event %></td>
        <td><%= attendance.attendee %></td>
        <td><%= attendance.stripe_customer_id %></td>
        <td><%= button_to 'Show', attendance %></td>
        <td><%= button_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= button_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br />

<%= button_to 'New Attendance', new_attendance_path %>
</div>
