
<div class="container">
<br>
<h2>Join this event</h1>
  <p> <strong> Title: </strong>  <%= @event.title %>  </p>
<p> <strong> Description: </strong>  <%= @event.description %>   </p>
  <p> <strong>Date: </strong><%= @event.start_date.strftime("%F") %></p>
  <p> <strong>At: </strong><%= @event.start_date.strftime("%T") %></p>
<br />
<%= form_tag event_attendances_path(@event), method: :post do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= (@amount/100) %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description= "Event paiement"
          data-amount="<%= @amount %>"
          data-locale="auto"></script>
<% end %>
</div>
