<div class="container">
  <!-- Content here -->

<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @attendance.event %>
</p>

<p>
  <strong>User:</strong>

<%= @attendance.attendee %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @attendance.stripe_customer_id %>
</p>

<%= link_to 'Edit', edit_attendance_path(@attendance) %> |
<%= link_to 'Back to Event', event_path(@attendance.event.id) %>
</div>
