<div class="container">
  <!-- Content here -->

<br>

<p id="notice"><%= notice %></p>

<p>
  <strong>Event title:</strong>
  <%= @attendance.event.title %>
</p>

<p>
  <strong>Attendee:</strong>

<%= @attendance.attendee.email %>
</p>

<p>
  <strong>Stripe customer:</strong>
  <%= @attendance.stripe_customer_id %>
</p>

<%= link_to 'Back to Event', event_path(@attendance.event.id) %>
</div>
